@{
    ViewData["Title"] = "About Us";
}




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


<link href="~/css/aboutus.css" rel="stylesheet" />



<div class="container">
    <div class="section">

        <header>
            <h1>About Us</h1>
        </header>


        <p>
            Welcome to Free Sweet, your trusted companion on the celiac disease journey. Founded with a deep
            understanding of the challenges faced by those living gluten-free, we're a passionate team dedicated to
            making your gluten-free journey easier and more delicious. Our website offers a wealth of information,
            from understanding celiac disease to exploring a world of gluten-free recipes. Our online shop features
            a curated selection of high-quality desserts, ensuring you can enjoy sweet treats without compromise.
            Beyond recipes, we offer valuable information and support, empowering you to navigate the complexities
            of celiac disease with confidence. Join our community and connect with others who understand, sharing
            experiences and finding inspiration together.
        </p>

        <div class="image-container">
            <img src="/img/home/AVdzXMuw.png" alt="Logo">
        </div>

    </div>

    <div class="section">

        <header>
            <h1>Our Story</h1>
        </header>


        <p>
            When I was diagnosed with celiac disease, I entered a new world full of challenges. It was difficult to
            find gluten-free products, especially sweets, and when they were available, the prices were often very
            high. Over time, I realized I wasn’t the only one facing this problem.
        </p>
        <p>
            That’s why I decided to start my own project, with the goal of offering gluten-free sweets that are
            delicious in taste and affordable for everyone. I believe everyone deserves the opportunity to enjoy
            safe and healthy treats without having to pay exorbitant prices.
        </p>

        <p>
            Through this project, I aim to make the world of gluten-free sweets accessible to everyone, so that all
            can enjoy a sweet and safe experience at the same time.
        </p>

    </div>




    <div class="wrap">
        <div class="slider">


            <div class="item">
                <img src="/img/shop/shop/img5.jpeg" alt="">
            </div>
            <div class="item">
                <img src="/img/shop/shop/img4.jpeg" alt="">
            </div>
            <div class="item">
                <img src="/img/shop/shop/img3.jpeg" alt="">
            </div>
            <div class="item">
                <img src="/img/shop/shop/img2.jpeg" alt="">
            </div>
            <div class="item">
                <img src="/img/shop/shop/img1.jpeg" alt="">
            </div>


        </div>
    </div>



</div>


<script src="~/js/aboutus.js"></script>