@{
    ViewData["Title"] = "Information";
}
    
<head>

    <link href="~/css/info.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="container">
    <div class="section">
        <div class="image-container">
            <img src="/img/home/Celiac.png" alt="Logo">
        </div>
        <header>
            <h1>What is Celiac Disease ??</h1>
        </header>
        <!-- <h1>What is Celiac Disease ??</h1> -->
        <p>
            Celiac disease is an illness caused by an immune reaction to eating gluten. Gluten is a protein found in
            foods containing wheat, barley, or rye.
        </p>
        <p>
            If you have celiac disease, eating gluten triggers an immune response in your small intestine. Over time,
            this reaction damages your small intestine’s lining and prevents it from absorbing nutrients, a
            condition called malabsorption.
        </p>
        <p>
            The intestinal damage often causes symptoms such as diarrhea, fatigue, weight loss, bloating, or anemia.
            It also can lead to serious complications if it is not managed or treated. In children, malabsorption
            can affect growth and development in addition to gastrointestinal symptoms.
        </p>
        <p>
            There’s no definitive cure for celiac disease. But for most people, following a strict gluten-free diet
            can help manage symptoms and help the intestines heal.
        </p>
    </div>

    <div class="section flex-section">
        <div class="text">
            <p><span class="highlight">Celiac Disease:</span></p>
            <p>
                Your small intestine is lined with tiny hairlike projections called villi, which absorb sugars, fats,
                proteins, vitamins, minerals, and other nutrients from the food you eat. Gluten exposure in people
                with celiac disease damages the villi, making it hard for the body to absorb nutrients necessary for
                health and growth.
            </p>
        </div>
        <div class="image">
            <img src="/img/info/ds00319_im04515_mcdc7_celiac_diseasethu_jpg.webp" alt="Celiac Disease Illustration">
        </div>
    </div>

</div>

<div class="container">



    <div class="section">
        <h2>Symptoms</h2>
        <p>
            Symptoms of celiac disease vary widely among people, which can make it hard to recognize. Some people
            don’t notice any symptoms at all. They also may be different in children and adults. The most common
            symptoms include:
        </p>
        <div class="section flex-section" style="justify-content: space-between;">
            <ol>
                <li>Pain and bloated stomach.</li>
                <li>Gas.</li>
                <li>Constipation.</li>
                <li>Diarrhea.</li>
                <li>Nausea and vomiting.</li>
                <li>Weight loss.</li>
                <li>Mouth ulcers.</li>
                <li>Damage to tooth enamel.</li>
                <li>Anemia, usually from iron deficiency due to decreased iron absorption.</li>
            </ol>
            <div class="image">
                <img src="/img/info/Screenshot 2025-03-11 152057.png" alt="Celiac Disease Illustration">
            </div>
        </div>
    </div>


</div>

<div class="container">
    <div class="section">
        <h2>Celiac Disease Diagnosis</h2>
        <div class="image-container">
            <img src="/img/info/Screenshot 2025-03-11 150006-Photoroom.png" alt="Celiac Disease Illustration">
        </div>
        <p>
            Celiac disease is suspected if a person experiences digestive symptoms after consuming gluten. Therefore,
            it is important to conduct celiac disease tests before trying a gluten-free diet, as these tests reveal
            how gluten actually affects the body. Once a patient starts avoiding gluten, the intestines begin to
            recover.
        </p>

        <p>
            <span class="highlight">
                Healthcare providers use two methods to test for celiac disease, and it is
                preferable to use both together to confirm the diagnosis.
            </span>
        </p>
        <p>
            <span class="highlight"><b style="font-size: 20PX;">The First Method Is A Blood Test : </b></span>
            Healthcare providers test a blood
            sample for gluten antibodies that damage the intestines. The tTG IgA test and the total IgA test are
            used, as they are the most accurate and reliable.
        </p>
        <p>A positive tTG IgA result is above 4 U/mL, while a negative result is below 4 U/mL.</p>
        <p>
            A positive total IgA result is above 310 mg/dL for ages 17–60 years, and above 320 mg/dL for those aged
            61 and above.
        </p>
        <p>
            The levels of hemoglobin, iron, and nutrients such as vitamins and minerals in the blood are also
            analyzed to detect iron deficiency anemia or nutrient deficiencies caused by malnutrition.
        </p>
        <p>
            <span class="highlight"><b style="font-size: 20PX;">The Second Method Is A Biopsy : </b></span> If
            antibodies are detected in the
            blood, the doctor will take a biopsy to confirm the diagnosis. To obtain the biopsy, a
            gastroenterologist performs an endoscopy of the small intestine, takes a tissue sample, and examines it
            under a microscope to check for villous atrophy, which is the hallmark of celiac disease malabsorption.
        </p>
    </div>
</div>

<div class="container">

    <div class="section">

        <h2>Celiac Disease Treatment</h2>
        <div class="section flex-section" style="justify-content: space-between;">

            <div>
                <p>
                    The most important step in treating celiac disease is to stop consuming gluten, as it is not
                    possible
                    to
                    change the way the body reacts to gluten, but gluten can be prevented from triggering this
                    reaction.
                </p>
                <p>
                    Once gluten is eliminated from the diet, the small intestine will begin to heal and will soon be
                    able
                    to
                    absorb nutrients again.
                </p>
            </div>
            <div class="image">
                <img src="/img/info/Celiac-Disease-in-children.png" alt="Celiac Disease Illustration">
            </div>
        </div>
    </div>
</div>



<script src="~/js/info.js"></script>