@model FreeSweet.Models.Product

<link href="~/css/prodect.css" rel="stylesheet" />

<div class="shop-section">
    <header>
        <h1>Shop</h1>
    </header>
    <div class="product-details">
        <!-- Slider Section -->
        <div class="slider">
            <div><img src="/img/shop/shop/@Html.DisplayFor(model => model.Img1)" alt="Image Of product"></div>
            @if (!string.IsNullOrEmpty(Model.Img2)){
                <div><img src="/img/shop/shop/@Html.DisplayFor(model => model.Img2)" alt="Image Of product"></div>
            }
           
            @if (!string.IsNullOrEmpty(Model.Img3)){
                <div><img src="/img/shop/shop/@Html.DisplayFor(model => model.Img3)" alt="Image Of product"></div>
            }
          
            @if (!string.IsNullOrEmpty(Model.Img4))
            {
                <div><img src="/img/shop/shop/@Html.DisplayFor(model => model.Img4)" alt="Image Of product"></div>
            }
         
        </div>

        <!-- Product Information -->
        <div class="product-info">
            <h3>  @Html.DisplayFor(model => model.Name)</h3>         
            <p> @Html.DisplayFor(model => model.Description) </p>
            <p class="price" id="price">@Html.DisplayFor(model => model.Price) JD</p>
            <p>Mini : 5jd</p>
            <p> Small : 15 jd </p>
            <p> Medium : 20 jd </p>
            <p> Large : 30 jd </p>
            <div class="options">
                <select id="size">
                    <option value="mini">Mini</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                <input type="number" value="1" min="1">
                <br>
                <textarea placeholder="Notes" rows="4" cols="20"></textarea>
            </div>
            <a href="/html/cart.html"><button>Add To Cart <i class="fa-solid fa-cart-shopping"></i></button></a>
        </div>
    </div>
</div>

<script src="~/js/prodect.js"></script>