
<link href="~/css/prodect.css" rel="stylesheet" />

<div class="shop-section">
    <header>
        <h1>Shop</h1>
    </header>
    <div class="product-details">
        <!-- Slider Section -->
        <div class="slider">
            <div><img src="/img/home/shop/chocolate cake/1.jpeg" alt="Chocolate Cake 1"></div>
            <div><img src="/img/home/shop/chocolate cake/2.jpeg" alt="Chocolate Cake 2"></div>
            <div><img src="/img/home/shop/chocolate.jpeg" alt="Chocolate"></div>
        </div>

        <!-- Product Information -->
        <div class="product-info">
            <h3>Chocolate Cake</h3>
            <p>
                Indulge in our decadent chocolate cake, a rich and moist masterpiece with layers of velvety chocolate
                cake and luscious frosting. A true chocolate lover's dream.
            </p>
            <p class="price" id="price">5 JD</p>
            <div class="options">
                <select id="size">
                    <option value="mini">Mini</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                <input type="number" value="1" min="1">
                <br>
                <textarea placeholder="Notes" rows="4" cols="20"></textarea>
            </div>
            <a href="/html/cart.html"><button>Add To Cart <i class="fa-solid fa-cart-shopping"></i></button></a>
        </div>
    </div>
</div>

<script src="~/js/prodect.js"></script>