@model IEnumerable<FreeSweet.Models.Recipe>
@{
    ViewData["Title"] = "Recipes";
}

<link href="~/css/recipes.css" rel="stylesheet" />

<div class="container">
    <header>
        <h1>Gluten-Free Recipes</h1>
    </header>
    <main class="cards-container">
        <!-- Card 1: Banana Muffins -->
        @foreach (var item in Model){
            var cardClass = item.Id % 2 == 0 ? "card-left" : "card";
            <div class="@cardClass">
            <img src="/img/shop/Reprises/@item.Img1" alt="Gluten-Free Banana Muffins">
            <div class="card-content">
                <h2>@item.Name</h2>
                <p>@item.Description</p>
              
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("DetailsRecipes", "Home", new { id = item.Id })'">
                        Read More
                    </button>
            </div>
        </div>
        }
        @* <!-- Card 2: Chocolate Banana Bread --> *@
        @* <div class="card-left">  *@
        @*      <img src="/img/shop/Gluten-free-Chocolate-Banana-Bread-360x480.jpg.webp" alt="Gluten-Free Chocolate Banana Bread">  *@
        @*      <div class="card-content">  *@
        @*        <h2>Gluten-Free Chocolate Banana Bread</h2>  *@
        @*        <p>Rich and full of chocolate, this gluten-free chocolate banana bread is a delicious treat. It's perfect for breakfast, a morning snack, or even dessert!</p>  *@
        @*        <a asp-area="" asp-controller="Home" asp-action="DetailsRecipes" target="_blank"><button>Read More</button></a>  *@
        @*   </div>  *@
        @* </div> *@


  
    </main>
</div>

<script src="~/js/recipes.js"></script>