
<link href="~/css/shop.css" rel="stylesheet" />

<div class="shop">

    <header>
        <h1>Shop</h1>
    </header>

    <div class="images-titles">
        <ul class="shuffle">
            <li class="active" data-category="all">All</li>
            <li data-category="cake">Cakes</li>
            <li data-category="western">Western Sweets</li>
            <li data-category="arabic">Arabic sweets</li>
        </ul>
    </div>

    <div class="item">
        <div class="card" style="width: 18rem;" data-category="cake">
            <img src="/img/home/shop/chocolate1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Chocolate Cake</h5>
                <p class="card-text">From 5 jd </p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
               
                <a asp-area="" asp-controller="Home" asp-action="Products" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="cake">
            <img src="/img/home/shop/vanilla.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vanilla Cake</h5>
                <p class="card-text">From 5 jd </p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="cake">
            <img src="/img/home/shop/strawberry1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Strawberry Cake</h5>
                <p class="card-text">From 5 jd </p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="western">
            <img src="/img/shop/shop/braones1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Brownies </h5>
                <p class="card-text">1.25 jd </p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="western">
            <img src="/img/shop/shop/cheesecake1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cheesecake </h5>
                <p class="card-text">2.5 jd </p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="western">
            <img src="/img/shop/shop/cinnamon1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Box Of Cinnamon </h5>
                <p class="card-text">6 jd</p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="western">
            <img src="/img/shop/shop/dounet1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Box Of Doughnuts </h5>
                <p class="card-text">6 jd</p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="western">
            <img src="/img/shop/shop/cookie pan1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cookie Pan </h5>
                <p class="card-text">2.5 jd</p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="western">
            <img src="/img/shop/shop/cookies1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cookies </h5>
                <p class="card-text">1 jd for 1 piece </p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" data-category="arabic">
            <img src="/img/shop/shop/khnafeh.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kanafeh</h5>
                <p class="card-text">3 jd</p>
                <div class="rating">
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <a href="#" class="btn btn-primary">View Item </a>
            </div>
        </div>

    </div>

    <!-- <a href="" class="Explore"><button>Explore more </button></a> -->
</div>

<script src="~/js/shop.js"></script>