

.shop-section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #099DA8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;

    font-size: 2.5rem;
    color: #ffffff;
    /* margin-bottom: 60px; */
    /* background-color: #beebf0; */
    text-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
    margin-left: 50%;
    transform: translateX(-50%);
    /* padding: 7px 18px; */
    width: max-content;
}


.product-details {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.slider {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info {
    flex: 1;
    color: white;
    padding: 10px;
}

    .product-info h3 {
        color: white;
        font-size: 24px;
        margin-bottom: 10px;
    }

.product-info p {
    margin: 10px 0;
}

.product-info .price {
    font-size: 20px;
    margin: 10px 0;
}

.product-info .options {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.product-info .options select,
.product-info .options input,
.product-info .options textarea {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-info textarea {
    max-width: 300px;
    width: 100%;
}

.product-info a {
    text-decoration: none;
}

.product-info button {
    background-color: white;
    color: #099DA8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-info button:hover {
    background-color: #e0e0e0;
}

@media (max-width: 426px) {
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-info {
        text-align: center;
    }

    .product-info .options {
        justify-content: center;
    }

   
}
