@model FreeSweet.Models.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4>Product</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Product">Back to List</a>
</div>
<br /><br />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Size" class="control-label"></label>
                    <input asp-for="Size" class="form-control" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="col-md-6">
                    <label class="control-label">Image 1</label>
                    <input type="file" name="image1" class="form-control" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Image 2</label>
                    <input type="file" name="image2" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">Image 3</label>
                    <input type="file" name="image3" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Image 4</label>
                    <input type="file" name="image4" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>

</div>


